#id_Title
{
    font-family: Tahoma;
    width: 95%;
    height: 50px;
    font-size: 11pt;
}
#id_Comment
{
    font-family: Tahoma;
    width: 95%;
    height: 100%;
    font-size: 10pt;
    color: blue;

}
#id_FeatureCode{
    width: 80%;
    max-width: 80%;
}