{% load static %}
<link rel="stylesheet" href="/static_eit/EIT/css/mdb.rtl.min.css" />
<link rel="stylesheet" href="/static_eit/EIT/css/font-style.css" />
<head>
 <title>متاسفانه چیزی پیدا نشد</title>

</head>

<body>
<div class="d-flex flex-row justify-content-center align-items-center" style="position: fixed;left: 0;top: 5%;width: 100%;height: 10%;z-index: 10;text-align: center;font-family: homa;font-size: 25px;z-index: 20;" >خیلی گشتیم ولی صفحه ات رو پیدا نکردیم</div>
<img src="/static_eit/EIT/images/dribbble_1.gif" style="position: fixed;left: 15%;top: 5%;width: 70%;height: 85%;z-index: 10;" />
<div class="d-flex flex-row justify-content-center align-self-center" style="position: fixed;left: 0;bottom: 5%;width: 100%;height: 15%;z-index: 11;display: flex;flex-direction: row;justify-content: center;">
    <button onclick="window.location.href='http://eit-app/'" class="btn btn-info " style="margin-left: 5px;margin-right:5px;width: 30%;height: 50px;padding: 10px;font-size: 16px;font-family: Sepahbod;" >میخوای برو به جاهای دیگه هم سر بزن</button>
    <button onclick="history.back()" class="btn btn-info " style="margin-left: 5px;margin-right:5px;width: 30%;height: 50px;padding: 10px;font-size: 16px;font-family: Sepahbod;" >میخوای برو به صفحه قبلی</button>
</div>

</body>
