<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مرورگر شما پشتیانی نمیشود</title>
</head>
<body>
<p style="text-align: center;">مرورگر شما پشتیبانی نمیشود لطفا از مرورگرهای زیر استفاده کنید</p>
<div style="position:absolute;width:100%;height:100%;left:0;top:0;z-index:1;"><div style="position:absolute;width:90%;left:5%;top:4%;z-index:2;font-size:18px;color:black;text-align:center;">{{  msg|safe }}</div><img src="/static_eit/EIT/images/browsers.png" style="position:absolute;left:15%;top:25%;width:70%;height:45%;z-index:3;"></div>
</body>
</html>