{% extends "HR/monthly-layout.html" %}
{% load tag_library %}
{% block legend %}حقوق و دستمزد{% endblock %}
{% block form_name1 %}facilities{% endblock %}
{% block form_name2 %}facilities{% endblock %}
{% block form_name3 %}facilities{% endblock %}
{% block form_name4 %}facilities{% endblock %}
{% block form_name5 %}facilities{% endblock %}
{% block form_name6 %}facilities{% endblock %}
{% block fieldes %}
    <div class="container-chart">
        <div class="line-chart">
            <img src="/static/HR/images/Group%203021.png" alt="">
            <p>متوسط دریافتی ماهانه </p>
            <div class="chart-1 chart">1</div>
        </div>

        <div class="line-chart">
            <img src="/static/HR/images/Group%203039.png" alt="">
            <p>دریافتی</p>
            <div class="chart-2 chart">2</div>
        </div>

        <div class="line-chart">
            <img src="/static/HR/images/Group%203290.png" alt="">
            <p>اضافه کاری</p>
            <div class="chart-3 chart">3</div>
        </div>

        <div class="line-chart">
            <img src="/static/HR/images/Group%203225.png" alt="">
            <p>حکم </p>
            <div class="chart-4 chart">4</div>
        </div>

        <div class="line-chart">
            <img src="/static/HR/images/Group%203291.png" alt="">
            <p>جمع کل دریافتی</p>
            <div class="chart-5 chart">5</div>
        </div>

    </div>

{% endblock %}

