    <fieldset>
        <legend>
        {% block legend %}{% endblock %}
        </legend>
        <div class="div-table">
            <table class="TableShow detail" id="{% block form_name1 %}{% endblock %}DetailTable" data-key="{% block form_name2 %}{% endblock %}">
            <thead>
                <tr>
                    {% block table_header %}{% endblock %}
                    {% if edit_permission and show_detail%}
                    <th class="Textlist">عملیات</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% block table_body %}{% endblock %}

            </tbody>
        </table>
        </div>


        {% if show_detail %}

        <span class="icon add">
            <i class="fa-solid fa-plus "></i>
        </span>
        <div class="detail-fields">
            <form name="frm{% block form_name6 %}{% endblock %}">
            {% csrf_token %}
            <button type="reset" class="hidden {% block form_name7 %}{% endblock %}"></button>
            <input type="hidden" name="UserName" value="{{ username }}">
            <input type="hidden" name="NationalCode" value="{{ national_code }}">
            <input type="hidden" name="{% block form_name8 %}{% endblock %}Id">
            <div class="row main-content">
                {% block fieldes %}{% endblock %}

                <div class=" w-100 d-flex flex-row  justify-content-end " >
                    <input type="button" name="cancel" class="col-2 button cancel mx-4 my-2" value="انصراف" data-type="{% block form_name9 %}{% endblock %}">
                    <input type="button" name="save" class="col-2 button save mx-4 my-2" value="ثبت" data-type="{% block form_name10 %}{% endblock %}" >
                </div>
            </div>
            </form>
        </div>
        {% endif %}
    {% block table_pageing %}{% endblock %}
    </fieldset>
