{% load static %}
<style>
@font-face
{
  font-family: Defined-Titr;
  src: url("{% static '/HR/font/BTitrBd.ttf' %}");
}
@font-face
{
  font-family: Defined-Traffic;
  src: url("{% static '/HR/font/BTraffic.ttf' %}");
}
@font-face
{
  font-family: Defined-Homa;
  src: url("{% static '/HR/font/BHoma.ttf' %}");
}

@font-face
{
  font-family: Defined-Koodak;
  src: url("{% static '/HR/font/BKoodkBd.ttf' %}");
}
@font-face
{
  font-family: Defined-Farnaz;
  src: url("{% static '/HR/font/BFarnaz.ttf' %}");
}
@font-face
{
  font-family: Defined-Nazanin;
  src: url("{% static '/HR/font/BNazanin.ttf' %}");
}
@font-face
{
  font-family: Defined-Jadid;
  src: url("{% static '/HR/font/BJadidBd.ttf' %}");
}
@font-face
{
  font-family: Defined-Lotus;
  src: url("{% static '/HR/font/BLotus.ttf' %}");
}
@font-face
{
  font-family: Defined-Zar;
  src: url("{% static '/HR/font/BZar.ttf' %}");
}

@font-face
{
  font-family: Defined-Mina;
  src: url("{% static '/HR/font/MINA_SF.TTF' %}");
}
@font-face
{
  font-family: Defined-Tabasom;
  src: url("{% static '/HR/font/BTABASSO.TTF' %}");
}
@font-face
{
  font-family: Defined-Kamran;
  src: url("{% static '/HR/font/BKAMRANB.TTF' %}");
}
@font-face
{
  font-family: Defined-Farnaz;
  src: url("{% static '/HR/font/FARNAZ.TTF' %}");
}
@font-face
{
  font-family: Defined-Yekan;
  src: url("{% static '/HR/font/BYekan.TTF' %}");
}
@font-face
{
  font-family: Defined-Titr;
  src: url("{% static '/HR/font/BTitrBd.TTF' %}");
}
@font-face
{
  font-family: Defined-Roya;
  src: url("{% static '/HR/font/BRoyaBd.TTF' %}");
}

@font-face
{
  font-family: Defined-Decorative;
  src: url("{% static '/HR/font/Mj_Decorative_Bold_ufont.ir.TTF' %}");
}
@font-face
{
  font-family: Defined-IranNastaliq;
  src: url("{% static '/HR/font/IranNastaliq.TTF' %}");
}
@font-face
{
  font-family: Defined-Baseet;
  src: url("{% static '/HR/font/FarBaseet.TTF' %}");
}
@font-face
{
  font-family: Defined-Sepahbod;
  src: url("{% static '/HR/font/Sepahbod.otf' %}");
}
@font-face
{
  font-family: Defined-Aman;
  src: url("{% static '/HR/font/Far.Aman.ttf' %}");
}
@font-face
{
  font-family: Defined-Janat;
  src: url("{% static '/HR/font/a-JannatLT-Bold.ttf' %}");
}
@font-face
{
  font-family: Defined-Salamat;
  src: url("{% static '/HR/font/Salamat.ttf' %}");
}
@font-face
{
  font-family: Defined-Fani;
  src: url("{% static '/HR/font/Far.Fanni.ttf' %}");
}
@font-face
{
  font-family: Defined-Naskh;
  src: url("{% static '/HR/font/Mj_Naskh_Titr.ttf' %}");
}
@font-face
{
  font-family: Defined-Arshia;
  src: url("{% static '/HR/font/BArshia.ttf' %}");
}

</style>