{% load static %}

    <div class="position-absolute bottom-0 w-55 h-90 bg-white txtrolename text-center p-2" style="font-size: 13px;font-family: Koodak;z-index:9;left:22.5%;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <span></span>
        <span class="txtsuperior w-100 end-0 position-absolute text-center d-none" style="bottom: 2px;font-size: 15px;font-family: Sepahbod;">ارشد</span>
    </div>
    <div class="position-absolute w-65 " style="height: 75%;overflow: hidden;z-index:11;left:17.5%;bottom: 5%;background-color: #1519a5;box-shadow: -2px 1px 5px 2px grey;">
        <div class="spimglevelbeforshow"></div>
        <div class="d-flex flex-column w-100 h-100 overflow-auto parentlistusers" style="margin-top: 85px;position: relative;z-index: 250;">


        </div>
        <div style="width: 0;height: 0;border-left: 150px solid #171585;border-top: 80px solid transparent;border-bottom: 0px solid transparent;position: absolute;left:0;top:0;z-index: 200;"></div>

        <div style="width: 0;height: 0;border-right: 150px solid #1519a5;border-top: 80px solid transparent;border-bottom: 0px solid transparent;position: absolute;right:0;top:0;z-index: 200;box-shadow: 0px -5px 8px -5px black;">

        </div >
        <span class="d-flex  flex-row justify-content-end px-1" style="transform: rotate(-30deg);z-index: 300;position: absolute;top: 35px;font-size: 13px;width: 100%;padding-top:5px;box-shadow: 0px -2px 2px -1px black;left: 5px;">
            <!-- <span class="txtrolename" style="color: white;"></span> -->
            <span class="txtlevelname" style="color: white;font-size:18px;font-family: Sepahbod;"></span>
        </span>

    </div>



    <span class="d-none mt-2 samplelistuseritem">
        <img width="80" height="80" defaultSrc="/static_eit/EIT/images/noprofile.png" class="replaceDefaultImg rounded-circle IMGSRC d-block mx-auto samplelistuseritem-img"  src="/media_hr/HR/PersonalPhoto/" />
        <p class="text-center text-white font-Koodak font-size-15 NAME d-block mx-auto mt-1"></p>
    </span>