{% load static %}
<link rel="icon" href="/static_eit/EIT/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/static_eit/EIT/css/all.css" />
<link rel="stylesheet" href="/static_eit/EIT/css/fontawesome.css" />
<link rel="stylesheet" href="/static_eit/EIT/css/font-style.css" />
<link rel="stylesheet" href="/static_eit/EIT/css/mdb.min.css" />
<link rel="stylesheet" href="/static_eit/EIT/css/mdb.rtl.min.css" />
<link rel="stylesheet" href="/static_eit/EIT/css/common-style.css" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/HR/css/style.css' %}" />

<script src="/static_eit/EIT/js/mdb.min.js"></script>
<script src="{% static 'admin/HR/js/jquery.js' %}"></script>
<script src="{% static 'admin/HR/js/index.js' %}"></script>
<script src="/static_eit/EIT/js/alpine.js"></script>
<script src="/static_eit/EIT/js/htmx.min.js"></script>