{% extends 'roleManager/base.html' %}
{% load static %}
{% block title%}فناوران{% endblock %}
{%block style%}
    <link href="{% static "roleManager/css/showRequestStyle.css" %}" rel="stylesheet"/>
{%endblock%}

{% block content %}
<form>
  <table>
    <thead>
      <tr id="header">
        <th id="firstHeader">
          <small id="text1">سمت</small>
          <small id="text2">تیم</small>
        </th>
        {%for team in requestData%}
          <th>
            <div class="headerAllFather">
              <div class="headerAboveSide">
                <img alt="TH img" src="{% static 'roleManager/images/TeamIcon/'|add:team.TeamCode|add:'.png' %}" style="width: 50px;">
              </div>
              <div class="headerBelowSide">
                <p>{{team.TeamName}}</p>
              </div>
            </div>
          </th>
        {%endfor%}
      </tr>
    </thead>
    <tbody id="tbody">
      {% regroup requestData.0.Roles by RoleId as unique_roles %}
      {% for role in unique_roles %}
        <tr>
          <td>{{role.list.0.RoleName}}</td>  
          {% for team in requestData %}
            <td>
              {% for team_role in team.Roles %}
                {% if team_role.RoleId == role.grouper %}
                <div id="allowedParent" style="background-color: rgb(110, 172, 218);">
                  <img src="{% static 'roleManager/images/person_icon.png' %}">
                  <input type="number" value="{{team_role.RoleCount}}" prevvalue="{{team_role.PrevRoleCount}}" modified="false" teamcode="{{team.TeamCode}}" roleid="{{team_role.RoleId}}" min="0" max="100">
                  <small>{{team_role.PrevRoleCount}}</small>
                </div>
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<div class="button-container">
  <button type="button" class="action-button reject-button">رد درخواست</button>
  <button type="button" class="action-button accept-button">تایید درخواست</button>
</div>

<script>
    // page control
    $(document).ready(function() {
        const serverData = JSON.parse('{{ data|escapejs }}');
        function setPageStatus() {
            
            if (serverData.status === 'READONLY') {
                $('.action-button').hide()
                
                $('input[type="number"]').prop('disabled', true).css({
                    'background-color': '#e9ecef',
                    'cursor': 'not-allowed'
                });
            } else if (serverData.status === 'EDIT') {
                
                $('.action-button').prop('disabled', false).css({
                    'opacity': '1',
                    'cursor': 'pointer'
                });
                
                $('input[type="number"]').prop('disabled', false).css({
                    'background-color': '#fff',
                    'cursor': 'text'
                });
            }
        }

        if (serverData.error) {
          $.confirm({
            title: "❌ خطا",
            content: serverData.message,
            type: "red",
            theme: "modern",
            columnClass: "medium",
            boxWidth: "400px",
            useBootstrap: false,
            buttons: {
              ok: {
                text: "باشه",
                btnClass: "btn-red",
                action: function() {
                  window.location.reload();
                }
              }
            }
          });
        }else{
            setPageStatus();
        }
    });

    // for AGREE and REJECT buttons
    $(document).ready(function() {
        function sendRequest(status) {
            $.ajax({
                url: window.location.href,
                type: "POST",
                data: JSON.stringify({status: status}),
                headers: {
                "X-CSRFToken": $("meta[name='csrf_holder']").attr("content"),
                "Content-Type": "application/json",
                },
                success: function (response) {
                    let error = response.error;
                    $.confirm({
                        title: error ? "❌ خطا" : "✅ موفقیت",
                        content: response.message,
                        type: error ? "red" : "green",
                        theme: "modern",
                        columnClass: "medium",
                        boxWidth: "400px",
                        useBootstrap: false,
                        buttons: {
                        ok: {
                            text: "باشه",
                            btnClass: error ? "btn-red" : "btn-green",
                            action: function() {
                                window.location.reload();
                            }
                        },
                        },
                    });
                },
                error: function (error) {
                    $.confirm({
                        title: "❌ خطا در ارتباط",
                        content: "خطایی در ارتباط با سرور رخ داده است.",
                        type: "red",
                        theme: "modern",
                        columnClass: "medium",
                        boxWidth: "400px",
                        useBootstrap: false,
                        buttons: {
                        ok: {
                            text: "باشه",
                            btnClass: "btn-red",
                        },
                        },
                    });
                },
            });
        }

        // ایونت کلیک برای دکمه تایید
        $('.accept-button').click(function() {
            $.confirm({
                title: 'تایید درخواست',
                content: 'آیا از تایید این درخواست مطمئن هستید؟',
                type: 'green',
                theme: 'modern',
                columnClass: 'medium',
                boxWidth: '400px',
                useBootstrap: false,
                buttons: {
                    confirm: {
                        text: 'بله',
                        btnClass: 'btn-green',
                        action: function() {
                            sendRequest('AGREE');
                        }
                    },
                    cancel: {
                        text: 'خیر',
                        btnClass: 'btn-default'
                    }
                }
            });
        });

        // ایونت کلیک برای دکمه رد
        $('.reject-button').click(function() {
            $.confirm({
                title: 'رد درخواست',
                content: 'آیا از رد این درخواست مطمئن هستید؟',
                type: 'red',
                theme: 'modern',
                columnClass: 'medium',
                boxWidth: '400px',
                useBootstrap: false,
                buttons: {
                    confirm: {
                        text: 'بله',
                        btnClass: 'btn-red',
                        action: function() {
                            sendRequest('REJECT');
                        }
                    },
                    cancel: {
                        text: 'خیر',
                        btnClass: 'btn-default'
                    }
                }
            });
        });
    });

    //for input and text in allowedParent
    $(document).ready(function () {
        $(document).on("mouseenter", "#allowedParent", function () {
        var currentBg = $(this).css("background-color");
        if (!$(this).data("bgColor")) {
            $(this).data("bgColor", currentBg);
        }
        var darkerBg = darkenColor(currentBg, 10);
        $(this).css("background-color", darkerBg);
        });

        $(document).on("mouseleave", "#allowedParent", function () {
        $(this).css("background-color", $(this).data("bgColor"));
        });

        $(document).on("focus", "#allowedParent input", function () {
        let darkerBg = darkenColor($(this).css("background-color"), 50);
        $(this).css("box-shadow", "inset 0 0 5px " + darkerBg);
        });
        $(document).on("blur", "#allowedParent input", function () {
        $(this).css("box-shadow", "none");
        if ($(this).val() == "") {
            const parent = $("div#allowedParent").has(
            `input[teamCode= ${$(this).attr("teamCode")}][roleId=${$(this).attr(
                "roleId"
            )}]`
            );
            $(this).attr("modified", false);
            checkModified();
            if ($(this).attr("prevValue") == 0) {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#bfbfbf");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#c3cbd9")
                .data("bgColor", "#c3cbd9");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            } else {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#9EDDFF");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#6EACDA")
                .data("bgColor", "#6EACDA");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            }
        }
        if ($(this).val() == 0) {
            $(this).val(0);
        }
        });

        $(document).on("input", "#allowedParent input", function () {
        if ($(this).val() != $(this).attr("prevValue")) {
            $(this).attr("modified", true);
            const parent = $("div#allowedParent").has(
            `input[teamCode= ${$(this).attr("teamCode")}][roleId=${$(this).attr(
                "roleId"
            )}]`
            );
            $(this).css("background-color", "#348144");
            $(parent).css("background-color", "#4E9F3D").data("bgColor", "#4E9F3D");
            $(parent).find("small").css("display", "block");
            if (isLightColor($(this).css("background-color"))) {
            $(this).css("color", "black");
            $(parent).find("small").css("color", "black");
            } else {
            $(this).css("color", "white");
            $(parent).find("small").css("color", "white");
            }
            checkModified();
        } else {
            $(this).attr("modified", false);
            const parent = $("div#allowedParent").has(
            `input[teamCode= ${$(this).attr("teamCode")}][roleId=${$(this).attr(
                "roleId"
            )}]`
            );
            if ($(this).attr("prevValue") == 0) {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#bfbfbf");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#c3cbd9")
                .data("bgColor", "#c3cbd9");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            } else {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#9EDDFF");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#6EACDA")
                .data("bgColor", "#6EACDA");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            }
            checkModified();
        }
        if ($(this).val() < 0) {
            $(this).val(0);
        } else if ($(this).val() > 100) {
            $(this).val(100);
        }
        });
    });


    
    // ################### Helper Functions ###################
    function darkenColor(color, amount) {
        var col = color.match(/\d+/g);
        var r = Math.min(255, parseInt(col[0]) - amount);
        var g = Math.min(255, parseInt(col[1]) - amount);
        var b = Math.min(255, parseInt(col[2]) - amount);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
    function isLightColor(color) {
        var rgb = color.match(/^rgba?\((\d+), (\d+), (\d+)/);

        if (rgb) {
        var r = parseInt(rgb[1]);
        var g = parseInt(rgb[2]);
        var b = parseInt(rgb[3]);
        var brightness = 0.2126 * r + 0.7152 * g + 0.0722 * b;

        return brightness > 128;
        }
        return false;
    }
    function checkModified() {
        let allUnmodified = true;

        $("#allowedParent input").each(function () {
        if ($(this).attr("modified") === "true") {
            allUnmodified = false;
            return false;
        } else {
            allUnmodified = true;
        }
        });
        if (!allUnmodified) {
        $("#submitBtn").slideDown("slow");
        } else {
        $("#submitBtn").slideUp("slow");
        }
    }


</script>
{% endblock %}