{% extends 'roleManager/base.html' %}
{% load static %}
{% block title%}درخواست سمت جدید{% endblock %}
{%block style%}
  <link href="{% static 'roleManager/css/showNewRoleRequest.css' %}" rel="stylesheet"/>
{%endblock%}
{% block content %}

<form id="roleRequestForm" action="" >
  <div id="pageContent">
    <!-- قسمت بالایی (عنوان سمت و اطلاعات تکمیلی) -->
    <div id="topSection">
      <!-- بخش عنوان سمت و مدیر مربوطه -->
      <div id="topSection_rightSide">
        <div id="roleTitleInputContainer">
          <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/role_title_icon.png'%}" alt="Role Title Icon">
          <p class="headerTitle">عنوان سمت :</p>
          <input id="roleTitleInput" type="text" value="{{request.RoleTitle}}">
        </div>

        <div id="selectManagerContainer">
          <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/manager_icon.png'%}" alt="Manager Icon">
          <p class="headerTitle">مدیر مربوطه :</p>
          <select class="form-control select2" id="managerSelect">
            <option></option>
            <option>مدیر پروژه</option>
            <option>مدیر تست</option>
            <option>مدیر پشتیبانی</option>
          </select>
        </div>
      </div>
  
      <!-- بخش اطلاعات تکمیلی -->
      <div id="topSection_leftSide">
        <div>
          <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/information_icon.png'%}" alt="Information Icon">
          <p class="headerTitle">اطلاعات تکمیلی :</p>
        </div>
        <div id="radioButton_gridContainer">
          <!-- ردیف ۱: ارشد دارد -->
          <div><p class="subHeaderTitle">ارشد دارد</p></div>
          <div id="radioButtonContainer">
              <img
              id="hasSuperior_yes_image" 
              class="subHeaderCheckIcon" 
              {% if request.HasSuperior %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/check_clicked_icon.png'%}" 
              {% else %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}" 
              {% endif %}
              alt="Has Superior Yes Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/check_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}"
              isDisabled = "false">
              <input type="radio" name="hasSuperior" id="hasSuperior_yes_input">
              <p class="subHeaderTitle">بله</p>
          </div>

          <div id="radioButtonContainer">
              <img 
              id="hasSuperior_no_image" 
              class="subHeaderDeclineIcon" 
              {% if request.HasSuperior %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/decline_default_icon.png'%}" 
              {% else %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}" 
              {% endif %}
              alt="Has Superior No Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/decline_default_icon.png'%}"
              isDisabled = "false">
              <input type="radio" name="hasSuperior" id="hasSuperior_no_input">
              <p class="subHeaderTitle">خیر</p>
          </div>
  
        
          <!-- ردیف ۲: سطح بندی دارد -->
          <div><p class="subHeaderTitle">سطح بندی دارد</p></div>
          <div id="radioButtonContainer">
              <img 
              id="hasLevel_yes_image" 
              class="subHeaderCheckIcon" 
              {% if request.HasLevel %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/check_clicked_icon.png'%}" 
              {% else %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}" 
              {% endif %}
              alt="Has Level Yes Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/check_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}"
              isDisabled = "false">
              <input id="hasLevel_yes_input" type="radio" name="hasLevel">
              <p class="subHeaderTitle">بله</p>
          </div>
          <div id="radioButtonContainer">
              <img 
              id="hasLevel_no_image" 
              class="subHeaderDeclineIcon" 
              {% if request.HasLevel %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/decline_default_icon.png'%}" 
              {% else %}
              src="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}" 
              {% endif %}
              alt="Has Level No Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/decline_default_icon.png'%}"
              isDisabled = "false">
              <input id="hasLevel_no_input" type="radio" name="hasLevel">
              <p class="subHeaderTitle">خیر</p>
          </div>
  
        </div>
      </div>

      <!-- بخش انتخاب کردن تیم  -->
      <!-- این بخش در وسط صفحه قرار دارد ولی برای جاگیری بهتر در این بخش قرار میگیرد-->

      <div id="middleSection_topSide">
        <img src="{% static 'roleManager/images/Icons/NewRoleRequest/team_title_icon.png'%}" alt="Team Title Icon" >
        <p class="headerTitle">تیم ها :</p>
        <select class="form-control select2" id="teamSelect">
          <option></option>
          {% for team in teams %}
            <option data-image-src="{% static 'roleManager/images/TeamIcon/'%}" teamCode="{{ team.TeamCode }}">{{ team.TeamName }}</option>
          {% endfor %}
        </select>
        <div id="topSide_button" isDisabled="false">
          <i class="fa-solid fa-plus"></i>
          <p class="subHeaderTitle">اضافه کردن تیم</p>
        </div>
      </div>
    </div>
  
    <!-- قسمت وسط بخش تیم ها و اضافه کردن آن  -->
    <div id="middleSection">
      <!-- بخش نشان دادن تیم های انتخاب شده -->
      <div id="showSelectedTeam_gridContainer">
      </div>
  
    </div>
    
    <!-- قسمت پایین (شرایط احراز، شرح شغل) -->
     <div id="bottomSection">
       <!-- بخش شرایط احراز -->
       <div>
         <div class="bottomSection_headerContainer">
           <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/contract_icon.png'%}" alt="Qualification Icon">
           <p class="headerTitle">شرایط احراز :</p>
           <input type="text" class="bottomSection_input" id="conditionsInput">
           <div class="bottomSection_plusContainer" id="conditionsPlusIcon">
            <i class="fa-solid fa-plus"></i>
           </div>
         </div>
         <div class="bottomSection_textArea">
         </div>
       </div>
       <div>
         <div class="bottomSection_headerContainer">
           <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/contract_icon.png'%}" alt="Job Description Icon">
           <p class="headerTitle">شرح شغل :</p>
           <input type="text" class="bottomSection_input" id="dutiesInput">
           <div class="bottomSection_plusContainer" id="dutiesPlusIcon">
            <i class="fa-solid fa-plus"></i>
           </div>
         </div>
         <div class="bottomSection_textArea">
         </div>
  
       </div>
     </div>
  
    <!-- آخرین قسمت (بخش دکمه ساخت سمت جدید) -->
    <div id="finalSection">
      <button id="submitButton" type="submit">ساخت سمت جدید</button>
    </div>
  </div>
</form>

<script>
    window.permisionDataJson = JSON.parse('{{ permisionDataJson|escapejs }}');
</script>
<script src="{% static 'roleManager/js/showNewRoleRequest.js'%}"></script>
{% endblock %}