<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="Config.wsgi.application" />
        <add key="PYTHONPATH" value="D:\DJANGO\Portal" />
        <add key="DJANGO_SETTINGS_MODULE" value="Config.settings" />
    </appSettings>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="Portal" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\DJANGO\Portal\venv\Scripts\python.exe|D:\DJANGO\Portal\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering>
              <requestLimits maxQueryString="9292"/>
            </requestFiltering>
          </security>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
